.parent-box {
  display: grid;
  position: relative;
  grid-template-columns: repeat(3, 25%);
  gap: 20px;
}

.box {
  display: flex;
  gap: 20px;
}

.image-box {
  background-color: red;
  width: 150px;
  height: 150px;
  text-align: center;
}
.image {
  width: 150px;
  height: 150px;
}
.text-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 10%;
}

.title {
  font-weight: bold;
}
.text li {
  padding: 10px 10px;
  list-style: none;
  margin-left: 0;
}
.text {
  align-self: flex-start;
}

.info-container {
  background-color: rgba(252, 145, 145, 0.159);
  display: grid;
  grid-template-columns: repeat(3, 80%);
  width: 1090px;
}
.text-info {
  width: 100%;
}
.button {
  align-items: center;
  background-clip: padding-box;
  background-color: #fa6400;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: system-ui, -apple-system, system-ui, "Helvetica Neue", Helvetica,
    Arial, sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  min-height: 3rem;
  padding: calc(0.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: 200px;
  height: 55px; 
}


.side-page {
  position: absolute;
  top: 0;
  right: 0;
}
.title-text {
  align-self: flex-start;
  width: 290.33px;
  height: 93.94px;
  font-family: TBC Contractica;
  font-size: 18spx;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: 0em;
}
.header p {
  font-size: 20px;
  font-weight: bold;
}
.header-box {
  display: grid;
  padding: 10px;
  gap: 10px;
}

@media (max-width: 1300px) {
  .parent-box {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 700px) {
  .parent-box {
    display: flex;
    flex-direction: column;
  }
}
